// ==========================================================================
// Fonts
// ==========================================================================

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6jtkz9');
  src:  url('../fonts/icomoon.eot?6jtkz9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6jtkz9') format('truetype'),
    url('../fonts/icomoon.woff?6jtkz9') format('woff'),
    url('../fonts/icomoon.svg?6jtkz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weights:before {
  content: "\e901";
}
.icon-moon-stroke:before {
  content: "\e902";
}
.icon-headphones:before {
  content: "\e903";
}
.icon-transfer:before {
  content: "\e904";
}
.icon-graduation-cap:before {
  content: "\e905";
}
.icon-locked:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-paperplane:before {
  content: "\e908";
}
.icon-mouse:before {
  content: "\e909";
}
.icon-help:before {
  content: "\e90a";
}
.icon-trending_up:before {
  content: "\e90b";
}
.icon-devices:before {
  content: "\e90c";
}
.icon-people_alt:before {
  content: "\e90d";
}
.icon-phone_in_talk:before {
  content: "\e90e";
}
.icon-clipboard:before {
  content: "\e90f";
}
.icon-bullhorn:before {
  content: "\e910";
}
.icon-pencil:before {
  content: "\e911";
}
.icon-money:before {
  content: "\e912";
}
.icon-handshake-o1:before {
  content: "\e913";
}
.icon-phone-square:before {
  content: "\e914";
}
.icon-pencil2:before {
  content: "\e915";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-drive:before {
  content: "\e963";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-question:before {
  content: "\ea09";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
