// ==========================================================================
// Global Config
// ==========================================================================

// Font Families

$font-family--import        : "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap";
$font-family--primary       : "Space Grotesk", monospace, "Space Mono", sans-serif;
$font-family--secondary     : "Space Mono", sans-serif;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Text

$base__font-size    : 16px;
$font-size--title   : 64px; 
$font-size--prim    : 36px;
$font-size--secn    : 24px;
$font-size--thrd    : 18px;
$font-size--small   : 12px;
$base__line         : 24px;
$font-gap--title	: 55px;
$font-gap--prim		: 46px;
$letter-space       : 1px;

// Descriptive Base Colors

$white : #f5f5f5;
$black : #0b0b0b;
$grey  : #e5e5e5;

$blue-bayoux	: #618085;
$steel-slate	: #405c6b;
$dark-coal		: #2D3F42;
$void-grey		: #1d2c35;
$icy-blue		: #A9C2C7;
$cinereous		: #9e7f7a;
$amathyst-dawn	: #cc24df;
$dark-sage		: #4A5D4E;
$dark-forest	: #254135;
$muted-cream	: #F5F5F0;
$muted-teal		: #E0F2F1;
$error-red		: #cf1111;
$daybreak		: #e5ff4f;
$nightfall		: #1b1b50;

// Colour usage

$colour-primary     	: $blue-bayoux;
$colour-primary-dark	: $dark-coal;
$colour-secondary   	: $steel-slate;
$colour-secondary-dark	: $void-grey;
$colour-font        	: $muted-cream;
$colour-form-font		: $dark-coal;
$colour-links			: $muted-teal;
$colour-submit			: $dark-forest;
$colour-navgation		: $dark-sage;
$colour-inverse     	: $cinereous;
$colour-border			: $icy-blue;
$colour-shadow      	: rgba($black, .2);

// Dark and Light mode colours
:root {
  --bg-colour           : #{$colour-primary};
  --bg-second-colour    : #{$colour-secondary};
  --form-colour         : #{$grey};
  --text-colour         : #{$colour-font};
  --text-form-colour    : #{$colour-form-font};
  --link-colour         : #{$colour-links};
  --border-colour       : #{$colour-border};
}

[data-theme="dark"] {
  --bg-colour           : #{$colour-primary-dark};
  --bg-second-colour    : #{$colour-secondary-dark};
  --form-colour         : #{$grey};
  --text-colour         : #{$white};
  --text-form-colour    : #{$colour-form-font};
  --link-colour         : #{$white};
  --border-colour       : #{$colour-border};
}
// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// UI Colours
$ui-colours: (
	primary				: $colour-primary,
	secondary			: $colour-secondary,
	primary-inverse		: $colour-inverse,
	nav					: $colour-navgation,
	toggle				: $colour-secondary,
	submit				: $colour-submit
);

$ui-colours-lnd: (
	primary				: (light: $colour-primary, dark: $colour-primary),
	secondary			: (light: $colour-secondary, dark: $colour-secondary),
	primary-inverse		: (light: $colour-inverse, dark: $colour-inverse),
	nav					: (light: $colour-navgation, dark: $colour-navgation),
	toggle				: (light: $colour-secondary, dark: $colour-secondary),
	submit				: (light: $colour-submit, dark: $colour-submit)
);

// Icon locations
$icon-locations: (
	briefcase			: "briefcase.svg",
	circle-down			: "circle-down.svg",
	circle-left			: "circle-left.svg",
	circle-right		: "circle-right.svg",
	circle-up			: "circle-up.svg",
	envelop				: "envelop.svg",
	facebook			: "facebook.svg",
	github				: "github.svg",
	graduation-cap		: "graduation-cap.svg",
	instagram			: "instagram.svg",
	laptop				: "laptop.svg",
	linkedin			: "linkedin.svg",
	menu				: "menu.svg",
	pencil				: "pencil.svg",
	phone_in_talk		: "phone_in_talk.svg",
	twitter				: "twitter.svg",
	weights				: "weights.svg"
);

//Icons Coloured 
$icons-mono-coloured: (
	sun			: (location: "sun.svg", colour: $black),
	moon-stroke	: (location: "moon-stroke.svg", colour: $white)
);

// Icon Themes
$icon-themes: (

);

// Image sizes

$icon-size__small: 15px;
$icon-size__standard: 25px;
$icon-size__large: 32px;
// $icon-size__largest: 75px;

$img-size__standard--max-width-mobile: 750px;
$img-size__standard--max-width-desktop: 400px;

$img-gutter-width: 20px;

// Border radius
$br--default    : .4em;
$br--round      : 50%;

// Transitions
$trns-duration  : .5s;

// Path to Assets
$path-img-icon--rel           : "../img/icons";
$path-img-proj--rel           : "../img/proj-img";

// Grid
$g-col-width        : 120px;
$g-gutter-width     : 15px;
$g-col-count        : 12;
$g-col-count-lg     : 16;
$g-cont-max-w       : 1200px;

// Section Gap
$section-gap		: 50px;


// Breakpoints
$brkpoint-xxs		: 1px;
$brkpoint-xs    	: 280px;
$brkpoint-sm    	: 576px;
$brkpoint-md    	: 768px;
$brkpoint-lg    	: 992px;
$brkpoint-xl    	: 1200px;
$brkpoint-buffer	: 0.02px;

//Element dimentions
$sidebar-height			: 135px;
$sidebar-width-mobile	: 250px;
$sidebar-width			: 150px;
$sidebar-width-lg		: 200px;
$sidebar-width-marg		: 1.1;
$sidebar-width-head		: 2;
