// ==========================================================================
// Floaters
// ==========================================================================

.float-left{
    &-xs {
        @include mq(micro){
            float: left;
        }
    }
    &-sm {
        @include mq(small){
            float: left;
        }
    }
    
}

.float-right{
    &-xs {
        @include mq(micro){
            float: right;
        }
    }

    &-sm {    
        @include mq(small){
            float: right;
        }
    }
    
}