// ==========================================================================
// Header Banner
// ==========================================================================

#header{
    position: relative;
    height: 100vh;
    width: 99vw;
    overflow: clip;
    .inner {
        position: relative;
        .image-container{
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .content{
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            .grid{
                align-items: flex-start;
            }
        }

        .btn{
            position: absolute;
            bottom: 20px; 
            left: 50%;
            margin-top: 20px; 
            transform: translateX(-50%);
        }

        .typewriter{
            color: $amathyst-dawn;
        }
    }
    @include mq(small){
            padding-left: nav-marg($sidebar-width, $sidebar-width-marg);
            .btn{
                left: nav-marg($sidebar-width, $sidebar-width-marg);
                transform: translateX(nav-marg-minus($sidebar-width, $sidebar-width-marg));
            } 
        }

        @include mq(large){
            padding-left: nav-marg($sidebar-width-lg, $sidebar-width-marg);
             .btn{
                left: nav-marg($sidebar-width, $sidebar-width-marg);
                transform: translateX(nav-marg-minus($sidebar-width, $sidebar-width-marg));
            } 
        }

}
