// ==========================================================================
// Toggle Navigation View
// ==========================================================================

.nav-toggle{
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 9999;

    .btn--toggle {
        display: inline-block;
        cursor: pointer;
    }
}