// ==========================================================================
// Grid Container
// ==========================================================================

.grid {
    @extend %center-flex;
    flex-wrap: wrap;
    flex-direction: column;  

    @extend %clearfix;
    @extend .centered;
    width: 100%;
    max-width: 100%;

    @include mq(small) {
        &:has([class^="grid__col-"]){
            flex-direction: row;
        } 
    }
}

