// ==========================================================================
// Grid Container
// ==========================================================================

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
    flex-direction: column;  

    @extend %clearfix;
    @extend .centered;
    width: 90%;
    max-width: 100%;

    @include mq(small) {
        &:has([class^="grid__col-"]){
            flex-direction: row;
        } 
    }
}

