// ==========================================================================
// Grid Container
// ==========================================================================

.grid {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: stretch;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  @extend %clearfix;
  @extend .centered;
  width: 90%;
 
  @include mq(small) {
    flex-direction: row;
  }
}

