// ==========================================================================
// Base
// ==========================================================================

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    margin: 0;
    background-color: $colour-primary;
    color: $colour-font;
    overflow-x: hidden;

    display: grid;
    transition: grid-template-columns 0.3s ease;
    overflow-x: hidden;
    width: 100vw;
}

h1, .h1 {
    @extend %hdln-prim;
}

h2, .h2 {
    @extend %hdln-sec;
}

ul {
    padding-left: 0;
    li{
        list-style: none;
    }
}

a{
    color: $colour-links;
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: underline;
    }
    
}

footer {
    @extend .centered;
    @include mq(small){
        margin-left: 0%;
        margin-right: 0%;
    }
    padding: em(30px) 0 0;
    position: relative;
}


