// ==========================================================================
// Base
// ==========================================================================

*{
    box-sizing: border-box;
}

html, body{
    background-color: var(--bg-colour);
}
body {
    @extend %font-base;
    
    color: var(--text-colour);
    margin: 0;
    top: 0;
    left: 0;

    display: grid;
    transition: grid-template-columns $trns-duration ease, background-color $trns-duration ease, color $trns-duration ease;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    min-height: 100vh;
    opacity: 0;
}

h1, .h1 {
    @extend %font-title;
    @extend %font-title-desktop;
    margin-top: 0;
}

h2, .h2 {
    @extend %font-prm;
    
}

h3, .h3 {
    @extend %font-secn;
    margin-bottom: 0;
}

h4, .h4 {
    @extend %font-thrd;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    li{
        list-style: none;
    }
}

a{
    color: var(--link-colour);
    text-decoration: none;
    font-weight: $font-weight--bold;
    &:hover, &:focus{
        text-decoration: underline;
    }
}


