// ==========================================================================
// About me
// ==========================================================================

#about_me{
    @extend %sec-gap;
    .grid{
        align-items: flex-start;
    }

    ul{
        display: flex;
        flex-direction: column;
        [class^="item"]{    
            text-align: left;
        }
        span{
            margin-right: 10px;
        }
    }

}