// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	display: inline-flex;
    margin-bottom: 0;
    font-weight: $font-weight--medium;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    background-image: none;
    border: 2px solid var(--border-colour);
    border-radius: $br--default;
    
    // @include bg-colours($ui-colours);
    @include bg-colours-darkmode($ui-colours-dark-mode);

    text-decoration: none;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    &[class^="btn--"] {
        @extend %center-align;
        @extend %btn;
        margin-bottom: em(20px, 14px); 
        @include mq(small) {
            display:block;
            width: 100%;
        }
        @include mq(medium) { 
            width: fit-content;
            display: inline-block;
            @include doubly(em($g-gutter-width));
        }
    }

    &--nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        margin-top: 20px; 
    }
    &--dark{
        width: 100%;
    }
}

