// ==========================================================================
// Placeholders
// ==========================================================================


// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}

// Headlines

%hdln-prim {
  color: $white;
  font-weight: $font-weight--bold;
  font-size: em($font-size--prim);
  line-height: em(46px, $font-size--prim);
  margin-top: 0;
}

%hdln-sec {
  color: $white;
  letter-spacing: $letter-space;
  font-weight: $font-weight--light;
  font-size: em($font-size--secn);
  font-family: $font-family--secondary;
}