// ==========================================================================
// Footer
// ==========================================================================

footer{
    // @extend %center-flex;
    // @extend .centered;
    padding: em(30px) 0 0;
    position: relative;
    @include mq(small){
        margin-left: nav-marg($sidebar-width, $sidebar-width-marg);
    }

     @include mq(large){
        margin-left: nav-marg($sidebar-width-lg, $sidebar-width-marg);   
    }

}