// ==========================================================================
// Header Banner
// ==========================================================================

#header{
    // @extend %center-flex;

    .inner {
        @extend %center-flex;
        position: relative;
        height: 100vh;
        overflow: hidden;

        .image-container{
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .content{
            background-color: rgba(0, 0, 0, 0.5);
            .grid{
                align-items: center;
            }
        }

        .btn{
            color: $white;
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            margin-top: 20px; 
        }

        @include mq(small){
            height: auto;
        }
        @include mq(medium){
            .btn{
                position: absolute; 
                bottom: 20px; 
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

}
