// ==========================================================================
// Header Banner
// ==========================================================================

#header{

    .inner {
        display: flex;
        position: relative;
        width: 100vw;
        height: 300px;
        overflow: hidden;

        .image-container{
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .content{
            background-color: rgba(0, 0, 0, 0.5);
        }

        @include mq(small){
            height: auto;
        }
    }

}
