// ==========================================================================
// Images
// ==========================================================================

.img {

    [class*="img--"] > & {
        display: block;
        width: 100%;
        height: auto;
    }
    
    @include m(standard) {
        width: 100%;
        height: auto;
        border: 1px solid palette(grey, x-light);
        border-radius: $br--default;
        object-fit: cover;
        object-position: center; 
    }
    @include m(partner) {
        max-width: em($logo-size__partner--max-width);
        padding: em($img-gutter-width);
        filter: grayscale(100%);
        opacity: 0.6;
        transition: filter $trns-duration ease, opacity $trns-duration ease;
        &:hover{
            filter: grayscale(0);
            opacity: 1;
        }
    }
    @include m(avatar) {
        border-radius: $br--round;
        margin-left: auto;
        margin-right: auto;
        margin-top: em(24px);
    }
    @include m(cover) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        justify-content: center;
        align-items: center; 
        @include mq(large){
            width: fit-content;
        }
    }
    @include m(site-logo){
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
        transition: width $trns-duration ease-out;
    }
    @include m(footer-logo){
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
        transition: width $trns-duration ease-out;
    }
}

