// ==========================================================================
// Images
// ==========================================================================

.img {
    @include m(project) {
        width: 100%;
        height: 30vh;
        border: 1px solid palette(grey, x-light);
        border-radius: $br--default;
        object-fit: cover;
        object-position: center;
        @include mq(small){
            height: 15vh;
        }
        @include mq(medium){
            height: 25vh;
        }
        @include mq (large){
            height: 30vh;
        }
    }
    // @include m(example){
    //     height: 50vh;
    //     width: 100%;
    //     object-fit: cover;
    //     object-position:left;
    //     border-radius: $br--default;
    //     @include mq(small){
    //         height: 100%;
    //         width: 50vw;
    //         object-fit: cover;
    //         object-position: center;
    //     }
    // }
    @include m(avatar) {
        border-radius: $br--round;
        margin-left: auto;
        margin-right: auto;
        margin-top: em(24px);
    }
    @include m(banner) {
        display: inline-block;
        width: auto;
        height: 100vh;
    }
}

