// ==========================================================================
// Images
// ==========================================================================

.img {

    [class*="img--"] > & {
        display: block;
        width: 100%;
        height: auto;
    }
    // @include m(project){}
    @include m(standard) {
        width: 100%;
        height: auto;
        border: 1px solid palette(grey, x-light);
        border-radius: $br--default;
        object-fit: cover;
        object-position: center; 
    }
    @include m(avatar) {
        border-radius: $br--round;
        margin-left: auto;
        margin-right: auto;
        margin-top: em(24px);
    }
    @include m(banner) {
        width: 100%;
        height: auto;
        display: block;
    }
}

