// ==========================================================================
// Main Container
// ==========================================================================

#main{
    height: 100%;
    width: 100%;
    @include mq(small){
        padding-left: nav-marg($sidebar-width, $sidebar-width-marg);

    }
    @include mq(large){
        padding-left: nav-marg($sidebar-width-lg, $sidebar-width-marg);
    }
}