// ==========================================================================
// Main Container
// ==========================================================================

#main{
    width: 100%;
    @include mq(small){
        padding-left: em($sidebar-width/1.5);

    }
    @include mq(large){
        padding-left: em($sidebar-width-lg/1.5);
    }
}