// ==========================================================================
// Projects
// ==========================================================================

#projects-section{
    h2{
        padding-left: 20px;
    }
    @extend %sec-gap;
    .block{
        h3{
            margin-top: 0;
            margin-bottom: $g-gutter-width;
        }
        .view-project{
            display: inline-flex;
            align-items: center; 
            justify-content: center;
            gap: $g-gutter-width;      
        }
    }

    @include mq(small){
        h2{
            padding-left: $sidebar-width/$sidebar-width-marg;
        }
    }
    @include mq(large) {
        h2{
            padding-left: $sidebar-width-lg/$sidebar-width-marg;
        }
    }
    
}