// ==========================================================================
// Sidebar Navigation
// ==========================================================================


#sidebar-section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--bg-second-colour);
  border-right: 5px var(--border-colour) solid;
  z-index: 1000; 
  overflow-x: hidden;
  transition: width $trns-duration ease-out, opacity $trns-duration ease-out, background-color $trns-duration ease, color $trns-duration ease;

  .sidebar-container{
    display: grid;
    grid-template-columns: auto;
    grid-gap: $g-gutter-width;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    height: 100%;
    &:not(:first-child){
      padding: 10px 10px 0;
    }
    &:first-child{
      padding-top: 250px;
    }
  }
  
  .grid { 
    flex-direction: column; 
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;     
  }

  .initials {
    width: 100%;
    max-width: 100vw; 
    border-bottom: 3px var(--border-colour) solid;
    padding: 10px 0;
    text-align: center;

    .h1 {
      display: block;
      font-size: 2rem;
      text-decoration: none;
      font-size: $font-size--title;
      line-height: 1; 
    }
  }

  #theme-toggle{
    display: flex; 
    align-self: center;
    justify-content: center;
    .icon{
      margin: 0;
      transition: background-image $trns-duration ease;
    }
    &:has(.icon-sun--coloured){
      background-color: $daybreak;
    }
    &:has(.icon-moon-stroke--coloured){
      background-color: $nightfall;
    }
  }

  .navigation {
    display: block;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
    gap: 0;
    width: 100%;
    align-self: center;

    .navigation-item {
      margin-bottom: 15px;
      text-align: center;    
      a {
        display: block;
      }
    }
  }

  // Social Icons
  .sidebar-social-logos {
    display: flex;
    align-self: center;
    height: $icon-size__standard;
    gap: 5px;
  }

  @include mq(up-to-small){
    width: 0;
    opacity: 0;

    &.is-open {
      width: $sidebar-width-mobile;
      opacity: 1;
    }
  }

  @include mq(small){
    width: $sidebar-width;
    opacity: 1;
    .sidebar-container:first-child{
      padding-top: 0px;
    }
  }

  @include mq(large){
    width: $sidebar-width-lg;

    .sidebar-container{
      padding-top: 20px 20px 0 0;
    }
     .sidebar-social-logos {
      gap: 15px;
     }
  }
}